.tab {
  width: 100%;
  border: none;
  height: 8em;
  justify-content: space-evenly;
  display: flex;
  align-self: center;
}

.selectedTab {
  width: 100%;
  border: none;
  height: 8em;
  justify-content: space-evenly;
  display: flex;
  align-self: center;
  background-color: rgb(255, 214, 214);
  color: rgb(173, 0, 207);
}

.mainCard {
  background-color: white;
  padding: 1em 3em 1em 3em;
  width: 40%;
  border-radius: 1em;
  margin-bottom: 2em;
  border: 2px solid rgb(238, 238, 238);
}

.bottomRow {
  display: flex;
  align-items: center;
}

.comments,
.likes {
  display: flex;
  align-items: center;
  width: 40px;
  height: 20px;
  margin: 10px;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  color: rgb(163, 163, 163);
  justify-content: space-between;
  margin-left: 2em;
}
.comments:hover,
.likes:hover {
  background-color: rgb(243, 243, 243);
}

.title {
  margin: 0px;
  margin-top: 10px;
  font-size: 1.3em;
}

.topRow {
  display: flex;
  width: 100%;
  align-items: center;
}

.topRow h2:hover {
  cursor: pointer;
  color: #40004d;
}

.topRow img {
  height: 40px;
}

.topRow h2 {
  color: rgb(155, 155, 155);
  font: 1.2em Roboto;
  margin-left: 1em;
}

.bottomRow button {
  color: white;
  font-family: Roboto;
  font-size: 1.2em;
  font-weight: 600;
  padding: 10px;
  margin-left: 20em;
  display: flex;
  justify-content: center;
  width: 7em;
  border-radius: 20px;
  cursor: pointer;
  background-color: rgb(112, 0, 177);
  border: none;
}

.shareIcon {
  margin-right: 5px;
}

.bottomRow button:hover {
  filter: brightness(110%);
}

.commentSection {
  border-top: 2px solid rgb(233, 233, 233);
  margin-top: 1em;
  width: 100%;
}

.newComment {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.newComment textarea {
  width: 100%;
  resize: none;
}

.newComment button {
  padding: 0px;
  margin: 0px;
}
