.navBar {
  width: 100%;
  height: 10vh;
  display: flex;
  background-color: sienna;
  justify-content: space-between;
}

.navBar img {
  max-height: 100%;
}

.logo {
  height: 40%;
  width: auto;
}

.profileIcon {
  height: 60%;
}
